body {
    margin: 0;
    font-family: Courier New, monospace;
}

header {
    position: relative;
}

header img {
    width: 100%;
    height: auto; /* Adjust height automatically to maintain aspect ratio */
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.header-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.contact-list {
    list-style: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
